.add-comment-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 8px;
  min-height: 100px;
  border: 1px solid var(--black);
  border-radius: 10px;
}

.add-comment-editable {
  height: 100%;
  margin-bottom: 8px;
  outline: none;
  color: var(--black);
  font-size: var(--small-font);
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  pointer-events: none;
  font-size: var(--small-font);
  color: var(--black-100);
}

.add-comment-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.add-comment-footer > button{
  max-width: max-content;
}