.list-container {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  border-radius: 20px;
  padding: 16px;
  width: 335px;
  min-height: 200px;
  min-width: 335px;
}

.list-container > h1 {
  margin-bottom: 16px;
}

.add-card-button {
  margin-top: auto;
  max-width: max-content;
}

.list-container .card-container {
  margin-bottom: 16px;
}

.list-container div.card-container:nth-last-child(2) {
  margin-bottom: 32px;
}
